*{
    box-sizing: border-box;
}

html,
body {
    width: auto;
    height: auto;
}

/***HEADER***/
main {
    width: 100%;
}

/**NAVAGATION**/
header .nav {
    display: flex;
    flex-direction: row;
    max-width: auto;
    background: #000000;
    justify-content: flex-end;    
}
header .logo{
    display: flex;
    align-content: left;
    width: 2%;

}
header .nav a{
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
header .nav a:hover{
    background-color: #ddd;
    color: black;
}

/**********************
    BANNER SECTION
**********************/
.first{
    display: flex;
    width: 100%;
    padding: 5%;
    flex-grow: 1;
}

.banner{
    display: flex;
    flex: content;
}

.info{
    display: flex;
    flex-direction: column;
    max-width: auto;
}

.todo{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    justify-content: space-evenly;
}

.started{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
}
/**********************
    TODO IMAGES
**********************/

.bowling{
    display: block;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    height: 30px;

}

.weight{
    display: block;
    flex-direction: column;
    height: 30px;
}

.mountain{
    display: block;
    flex-direction: column;
    height: 30px;
}

.basketball{
    display: block;
    flex-direction: column;
    height: 30px;
}

/*************************
        GET STARTED
*************************/

button.get-started {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}



.column{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

img.banner-img{
    display: flex;
    margin: 5%;
    min-width: 35%;
    max-width: 70%;
    
}

/**********************
    SCROLL ARROW
**********************/

.scroll{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 100%; 
    
}
.scroll-icon{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    max-width: 100%;
    transform: rotate(180deg);   
  }

  
/**************************
    DISCOVER COLLEGE
**************************/
section.content {
    display: flex;
    max-width: 100%;
    background: #F2F2F2;
}
.discoverpic{
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    background: #F2F2F2;
}
img.discover-img{
    display: flex;
    width: 50%;
    margin: auto;
}
.disc-info{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.president.img{
    width: 6%;
    height: auto;
}

/**********************
    DISCOVER TEXT
**********************/
.discover{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: 2%;
    margin-right: 2%;
    max-width: 90%;
}
.disc-info{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 100%;
}
/**********************
    LEARN BUTTON
**********************/
button.learn-more {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
  }

/********************
       MESSAGE
********************/
section.third {
    display: flex;
    max-width: 100%;
    background: #000000;
}
/**********************
    PRESIDENT SECTION
**********************/
.messageimg {
    display: flex;
    flex-wrap: no-wrap;
    max-width: 50%;
    margin-left: 10%;
}

img.president-img {
    display: flex;
    flex-wrap:wrap;
    width:50%;
    margin: auto;
    border-radius: 50%;

}
.name{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: 10px;
    vertical-align: middle;
    max-width: 75%;
    color:#ffffff;
    text-align: center;
}
/**********************
PRESIDENT MESSAGE
**********************/
.message{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 100%;
}
.pres-mesg{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 10px;
    vertical-align: middle;
    max-width: 75%;
    color:#ffffff;
}

/**************************
    ENTERTAINMENT
**************************/
section.fourth {
    display: flex;
    width: 100%;
    padding: 4%;
    background: #F2F2F2;}

.entertainment {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 100%;
}

.enter-msg {
    display: flex;
    flex-wrap:wrap;
    width: 75%;
    margin: 5%;
}

.entertainmentimg{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 50%;
}
img.enter-img{
    display: flex;
    flex-wrap:wrap;
    width: 75%;
    margin: auto;
    color:#ffffff;
}

/************************
        FOOTER
************************/
footer{
    display: flex;
    flex-direction: column;
    height: 75px;
    max-width: 100%;
}

.follow{
    max-width: 100%;
    margin: auto;
}
.social{
    display: flex;
    flex-direction: row;
    margin: auto;
    max-width: 100%;
}


/************************
    KEYFRAMES SCROLL ICON
************************/

@keyframes scroll-icon {
    50% { transform: translate(0, -100px); }
  }
  
  
  @keyframes rotate {
    10%, 35% { 
      transform: rotate(180deg);  
    }
    
    50% { 
      transform: scale(0.5, 1) translate(0, -100px); 
      transform: rotate(180deg);  
    }  
    
    60% { 
      transform: scale(2, 2) translate(0, 0);   
    } 
    
    75% { 
      transform: rotate(180deg);  
    }
    

  }

  .scroll-icon {
    animation-name: rotate;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
  }  